---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Schedule Page">

    <section class="bg-teal-300/20 px-9 pb-5 pt-20">
        

        <img src="../../public/favicon.png" alt="Schedule" class="w-28 h-28 mb-20" />

   
        <h1 class="text-2xl font-bold">AV Tutoring Pvt Ltd</h1>
        <p class=" text-teal-700 text-3xl">Let's Build togeather </p>
    </section>

	<main>

        <h1 class=" text-teal-900/70 text-1xl my-5 font-extrabold uppercase"> Schedule </h1>

       <!-- create card with title, date and time field -->


<div class=" bg-gradient-to-r from-yellow-200 to-yellow-500 shadow-md px-8 pt-6 pb-8 mb-4 flex flex-col rounded-md">
    <div class="mb-2">
      <span class="block text-teal-900 font-semibold text-m mb-2">E1 Astro Project using frappe framework</span>
    </div>
    <div class="mb-2 flex justify-between">
      <span class="block text-gray-500 text-sm">31 May, 2023</span>
      <span class="block text-gray-500 text-sm">11:30 PM</span>
  </div>

  </div>

  <div class="bg-gradient-to-r from-blue-200 via-blue-200 to-blue-400 shadow-md px-8 pt-6 pb-8 mb-4 flex flex-col rounded-md">
    <div class="mb-2">
      <span class="block text-teal-900 font-semibold text-m mb-2">E1 Astro Project using frappe framework</span>
    </div>
    <div class="mb-2 flex justify-between">
      <span class="block text-gray-500 text-sm">31 May, 2023</span>
      <span class="block text-gray-500 text-sm">11:30 PM</span>
  </div>
  </div>



	</main>
</Layout>