<!-- src/components/NavBar.astro -->
<header class="bg-gray-800 p-4 text-white">
    <nav>
      <ul class="flex space-x-4">
        <li><a class="hover:text-blue-500" href="/">Home</a></li>
        <li><a class="hover:text-blue-500" href="/schedule">Schedule</a></li>
        <li><a class="hover:text-blue-500" href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
  